{% extends 'layout_logged.html' %}
{% block title %}Categories{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-9 text-center">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="container-fliud">
                <div class="preview col-md-5" id="first">
                    <div class="preview-pic tab-content" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="tab-pane active" id="pic-1"><img src="{{item.picture}}" />
                        </div>
                    </div>
                </div>
                <div class="details col-md-6" id="second">
                    <h1>{{item.title}}</h1>
                    <div class="card-body">
                        {{item.description}}
                    </div>

                    <div class="col">
                        <p class="btn btn-block btn-danger">${{item.price}}</p>
                        <button class="btn btn-sm btn-primary" data-toggle="modal" id="mainEditButton"
                            data-target="#editItem" data-itemid="{{item.id}}" data-catid="{{item.category_id}}"
                            data-itemname="{{item.title}}"
                            data-action="{{url_for('editItem', category_id = item.category_id, item_id=item.id)}}"
                            data-redirect='{{url_for("categoryItems", category_id=item.category_id, page=1)}}'>Edit
                        </button>
                        <button class="btn btn-sm btn-danger" data-toggle="modal" id="mainDeleteButton"
                            data-target="#deleteItem" data-itemid="{{item.id}}" data-catid="{{item.category_id}}"
                            data-itemname="{{item.title}}"
                            data-action="{{url_for('deleteItem', category_id = item.category_id, item_id=item.id)}}"
                            data-redirect='{{url_for("categoryItems", category_id=item.category_id, page=1)}}'>Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-signin" method="post" role="form" id="editItemForm">
                <div class="modal-body">
                    <div>
                        <label class="flex-label" for="title">Name: *</label>
                        <input class="form-control" name="title" type="text" id="editName" required>
                    </div>
                    </br>
                    <div>
                        <label class="flex-label" for="description">Description: *</label>
                        <textarea class="form-control" name="description" id="editDescription" required></textarea>
                    </div>
                    </br>
                    <div>
                        <label class="flex-label" for="price">Price: *</label>
                        <input class="form-control" name="price" type="number" step=".01" min="0" id="editPrice"
                            required>
                    </div>
                    </br>
                    <div>
                        <label class="flex-label" for="category_id">Category: *</label>
                        <select class="form-control" name="category_id" id="editCategory" required>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    </br>
                    <div>
                        <label class="flex-label" for="picture">Picture URL: *</label>
                        <input class="form-control" name="picture" type="text" id="editPicture" required
                            value="{{item.picture}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="editIt">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-signin" method="post" role="form" id="deleteItemForm">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary" id="deleteIt">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}